<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="monitorSettings" type="SystemMonitor.Configuration.MonitorSettingsSection,SystemMonitor" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SystemMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SystemMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <monitorSettings>
    <monitors>
      <monitor type="SystemMonitor.Monitors.EventLogMonitor,SystemMonitor">
        <settings>
          <setting name="source" value="Disk" />
          <setting name="logName" value="System" />
        </settings>
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.MessageBoxNotifier,SystemMonitor" />
          <notifier type="SystemMonitor.Notifiers.EmailNotifier,SystemMonitor">
            <settings>
              <setting name="host" value="mail.someDomain.com" />
              <setting name="to" value="someEmail@someDomain.com" />
              <setting name="from" value="someEmail@someDomain.com" />
            </settings>
          </notifier>
          <notifier type="SystemMonitor.Notifiers.BalloonTipNotifier,SystemMonitor">
            <settings>
              <setting name="icon" value="Error" />
            </settings>
          </notifier>
        </notifiers>
      </monitor>
      <monitor type="SystemMonitor.Monitors.NetworkAvailabilityMonitor,SystemMonitor">
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.BalloonTipNotifier,SystemMonitor">
            <settings>
              <setting name="icon" value="Info" />
            </settings>
          </notifier>
        </notifiers>
      </monitor>
      <monitor runFrequency="00:04" type="SystemMonitor.Monitors.DiskSpaceMonitor,SystemMonitor">
        <settings>
          <setting name="driveLetter" value="C" />
          <setting name="freeMegabytes" value="10000" />
        </settings>
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.MessageBoxNotifier,SystemMonitor" />
          <notifier type="SystemMonitor.Notifiers.EmailNotifier,SystemMonitor">
            <settings>
              <setting name="host" value="mail.someDomain.com" />
              <setting name="to" value="someEmail@someDomain.com" />
              <setting name="from" value="someEmail@someDomain.com" />
            </settings>
          </notifier>
        </notifiers>
      </monitor>
      <monitor runFrequency="00:02" type="SystemMonitor.Monitors.DiskSpaceMonitor,SystemMonitor">
        <settings>
          <setting name="driveLetter" value="F" />
          <setting name="freeMegabytes" value="10000" />
        </settings>
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.MessageBoxNotifier,SystemMonitor" />
          <notifier type="SystemMonitor.Notifiers.EmailNotifier,SystemMonitor">
            <settings>
              <setting name="host" value="mail.someDomain.com" />
              <setting name="to" value="someEmail@someDomain.com" />
              <setting name="from" value="someEmail@someDomain.com" />
            </settings>
          </notifier>
        </notifiers>
      </monitor>
      <monitor runFrequency="00:03" type="SystemMonitor.Monitors.DiskSpaceMonitor,SystemMonitor">
        <settings>
          <setting name="driveLetter" value="G" />
          <setting name="freeMegabytes" value="30000" />
        </settings>
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.MessageBoxNotifier,SystemMonitor" />
          <notifier type="SystemMonitor.Notifiers.EmailNotifier,SystemMonitor">
            <settings>
              <setting name="host" value="mail.someDomain.com" />
              <setting name="to" value="someEmail@someDomain.com" />
              <setting name="from" value="someEmail@someDomain.com" />
            </settings>
          </notifier>
        </notifiers>
      </monitor>
      <monitor runFrequency="00:01" type="SystemMonitor.Monitors.PingMonitor,SystemMonitor">
        <settings>
          <setting name="host" value="MediaCenter" />
        </settings>
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.MessageBoxNotifier,SystemMonitor" />
        </notifiers>
      </monitor>
      <monitor runFrequency="00:01" type="SystemMonitor.Monitors.SocketMonitor,SystemMonitor">
        <settings>
          <setting name="host" value="kaistizen.net" />
          <setting name="port" value="80" />
        </settings>
        <notifiers>
          <notifier type="SystemMonitor.Notifiers.MessageBoxNotifier,SystemMonitor" />
          <notifier type="SystemMonitor.Notifiers.EventLogNotifier,SystemMonitor" />
        </notifiers>
      </monitor>
    </monitors>
  </monitorSettings>
  <userSettings>
    <SystemMonitor.Properties.Settings />
  </userSettings>
  <applicationSettings>
    <SystemMonitor.Properties.Settings />
  </applicationSettings>
</configuration>